/* Custom CSS for a cool gradient background */
.hero-section {
  @apply text-white py-20;
  @apply mx-auto flex flex-col items-center justify-center text-center;
  background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
  position: relative;
  z-index: 1;

  & h1{
    @apply text-5xl font-bold mb-4;
  }

  & p {
    @apply text-xl mb-8;
  }

  & a {
    @apply bg-blue-500 text-white px-6 py-3 rounded-lg shadow-lg hover:bg-blue-700;
  }
}
  